@import 'app-variables'

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic'
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons'



.centered
  text-align: center

.hoverable
  margin: 10px
  border: 1px solid #ccc
  &:hover
    background: #aaa

.row.no-padding
  padding: 0

.guess-block
  text-align: center
  border: 1px solid #ddd
  padding: 16px
  input
    text-align: center