template(name="home")
  +contentFor "headerTitle"
    h1.title Bienvenue sur PariPari !

  //- +contentFor "headerButtonLeft"
  //-   +ionNavBackButton
  +ionView
    +ionContent
      //- .padding.text-center
      //-   p
      //-     strong Would you please sign in ?
      //-   p
      //-     button.button.button-positive.sign-in-button(data-action="sign-in-facebook") Sign in with facebook
      +atForm

