template(name="_tabs")
  +ionTabs(style="android" class="tabs-background-positive tabs-color-light")
    +ionTab(title="En cours" path="bets.pending" icon="android-home")
    +ionTab(title="Terminés" path="bets.ended" icon="gear-b")
    +ionTab(title="Soldés" path="bets.cleared" icon="android-star")

