template(name="betsPending")
  +ionSideMenuContent
    +ionNavView
      +ionView
        +_tabsHeader

    +ionContent
      +ionList
        each bets
          +ionItem( path="bets.close" _id=this._id class="item-icon-right" avatar=true)
            img(src="https://randomuser.me/api/portraits/thumb/men/27.jpg")
            h2= subject
            p avec #{no_player_name}
            +ionIcon(icon="android-arrow-dropright")
        else
          +ionItem(path="bets.new")
            p.centered
              | Vous n'avez pas de pari en cours.
            p.centered
              strong Créez-en un nouveau !

    +_tabs
