template(name="betsCleared")
  +ionSideMenuContent
    +ionNavView
      +ionView
        +_tabsHeader

    +ionContent
      +ionList
        each bets
          +ionItem( path="bets.clear" _id=this._id class="item-icon-right" avatar=true)
            img(src="/default_avatar.png")
            h2= subject
            p avec #{opponentName} ( #{opponentWinStatus})
            +ionIcon(icon="android-arrow-dropright")
        else
          +ionItem
            p.centered Pas de pari soldé actuellement !


    +_tabs