template(name="betsEnded")
  +ionSideMenuContent
    +ionNavView
      +ionView
        +_tabsHeader

    +ionContent
      +ionList
        each bets
          +ionItem( path="bets.clear" _id=this._id class="item-icon-right" avatar=true)
            img(src="https://randomuser.me/api/portraits/thumb/men/27.jpg")
            h2= subject
            p avec #{no_player_name} ( #{opponentWinStatus})
            +ionIcon(icon="android-arrow-dropright")
        else
          .padding
            | Pas encore de pari terminé

    +_tabs